.box {
  height: auto;
  background-color: #002231;
  color: #E4E8EA;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  padding: 0.9rem;
  margin: 0 auto;
}

.abilities {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.gallery {
  max-width: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-left,
.button-right {
  top: 0;
  bottom: 0;
  line-height: 250px;
}

.button-left {
  left: 0;
}

.button-right {
  right: 0;
}

.cards {
  display: flex;
  gap: 0.9rem;
  max-width: 40rem;
}
