a {
  text-decoration: none;
  margin-top: 2rem;
}

.root {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E8E8E9;
}

.imagem {
  border-radius: 100%;
  width: 50%;
  border: #0F3F6E 5px solid;
  margin-bottom: 2rem;
}

.title {
  color: #C19256;
}

.titleName {
  margin-left: 0.5rem;
  color: #0F3F6E;
  font-size: 2.4rem;
}

.subtitle {
  color: #336faa;
}
